{:paths ["src"]
 :deps {org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        expound/expound {:mvn/version "0.7.2"}
        org.clojure/data.codec {:mvn/version "0.1.1"}}
 :aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.764"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.9"}
                              dynadoc/dynadoc {:mvn/version "RELEASE"}}
                 :extra-paths ["dev-resources"]
                 :main-opts ["dev.clj"]}
           :prod {:extra-deps {leiningen/leiningen {:mvn/version "2.9.0"}}
                  :main-opts ["prod.clj"]}}}
