{:paths ["src"]
 :deps {org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        expound {:mvn/version "0.7.2"}
        org.clojure/data.codec {:mvn/version "0.1.1"}}
 :aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.0"}
                              orchestra {:mvn/version "2018.12.06-2"}}
                 :extra-paths ["target" "dev-resources"]}
           :prod {:extra-deps {leiningen {:mvn/version "2.9.0"}}}}}
