^{:watch-dirs ["src" "dev-resources"]}
{:main          tile-soup.dev
 :optimizations :none
 :output-to     "target/public/main.js"
 :output-dir    "target/public/main.out"
 :asset-path    "main.out"}
